$light-color: #eee;
$font-stack: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
$primary-color: lightgreen;
$secondary-color: darkgreen;

html{
    box-sizing: border-box;
    font-family: $font-stack;
    font-size: 100%;
    
}

*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}